############################################################
# 📌 DJANGO – Framework principal del proyecto
############################################################
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.0
django-filter==23.3
django-extensions==3.2.3
sqlparse==0.5.3
asgiref==3.10.0
pytz==2025.2
tzdata==2025.2
python-decouple==3.8
python-dotenv==1.0.0


############################################################
# 🔐 AUTENTICACIÓN / USUARIOS (AllAuth + Djoser + JWT)
############################################################
django-allauth==0.57.0
djoser==2.2.0
django-templated-mail==1.1.1
PyJWT==2.10.1
oauthlib==3.3.1
python3-openid==3.2.0


############################################################
# 🟣 CELERY – Tareas asincrónicas y programadas
############################################################
celery==5.3.4
django-celery-results==2.5.1
django-celery-beat==2.5.0
redis==5.0.1
amqp==5.3.1
billiard==4.2.2
kombu==5.6.0
vine==5.1.0
croniter==2.0.1
cron_descriptor==2.0.6


############################################################
# 🌍 GIS – GeoDjango + Rasterio + Geopandas + GDAL
# ⚠ Estas versiones están sincronizadas para evitar errores
############################################################
#GDAL==3.6.0
Fiona==1.10.1
rasterio==1.3.9
geopandas==0.14.1
pyproj==3.6.1
shapely==2.0.2
pyshp==3.0.2.post1
djangorestframework-gis==1.0
OWSLib==0.29.1
snuggs==1.4.7
affine==2.4.0
cligj==0.7.2


############################################################
# 🟢 AWS / ALMACENAMIENTO – S3, boto3 y storages
############################################################
boto3==1.29.7
botocore==1.32.7
django-storages==1.14.2
s3transfer==0.8.0


############################################################
# 🛢 POSTGRES / POSTGIS – Base de datos y ORM extendido
############################################################
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
GeoAlchemy2==0.14.2
dj-database-url==2.1.0


############################################################
# 📘 DOCUMENTACIÓN – OpenAPI / Swagger
############################################################
drf-spectacular==0.26.5
uritemplate==4.2.0


############################################################
# ⚙ UTILIDADES GENERALES
############################################################
requests==2.31.0
charset-normalizer==3.4.4
certifi==2025.10.5
idna==3.11
urllib3==2.0.7
jsonschema==4.25.1
referencing==0.37.0
rpds-py==0.28.0
packaging==25.0
python-dateutil==2.8.2
pathspec==0.12.1
decorator==5.2.1
traitlets==5.14.3
typing_extensions==4.15.0
six==1.17.0
PyYAML==6.0.3
Pillow==10.1.0


############################################################
# 🧪 TESTING – Pruebas unitarias
############################################################
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
coverage==7.11.1
factory-boy==3.3.0
Faker==20.1.0


############################################################
# 🧹 LINTERS / FORMATO DE CÓDIGO – Calidad del código
############################################################
black==23.11.0
flake8==6.1.0
pylint==3.0.3
isort==5.12.0
mypy==1.7.1
mypy_extensions==1.1.0
pycodestyle==2.11.1
pyflakes==3.1.0


############################################################
# 🔍 DEBUG Y DESARROLLO
############################################################
ipython==8.18.1
ipdb==0.13.13
django-debug-toolbar==4.2.0
watchdog==3.0.0


############################################################
# ✉️ NOTIFICACIONES – SMS (Twilio), Tokens, Seguridad
############################################################
itsdangerous==2.1.2
twilio==8.10.0

############################################################
# 🚀 PRODUCCIÓN – Railway / Deployment
############################################################
gunicorn==21.2.0
whitenoise==6.6.0